<form novalidate [formGroup]="form">
    <ul class="list-group">
      <li class="list-group-item py-1" [formArrayName]="Values" *ngFor="let map of Values.controls; index as i" >
        <div class="row">
          <div class="col-2">
            <h4 class="align-middle mb-0 text-center">
              <span class="badge badge-pill badge-secondary">{{ map.letter }}</span>
            </h4>
          </div>
          <div class="col-8">
            <input class="form-control form-control-sm" formControlName="{{map.key}}">
          </div>
          <div class="col-2 text-center">
            Error Status?
          </div>
        </div>
      </li>
    </ul>
  </form>